.larger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 452px;
  height: 48px;
  background-color: #a8c3a0;
  color: #ffffff;
  border-radius: 24px;
  border: 1px solid #a8c3a0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.larger-button:hover {
  background-color: #9bb993;
  border-color: #9bb993;
}
.light-larger-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 452px;
  height: 48px;
  background-color: #f0faf7;
  color: #92b78e;
  border-radius: 24px;
  border: 1px solid #a8c3a0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.light-larger-button:hover {
  background-color: #e2f4eb;
  border-color: #a8c3a0;
}

.large-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 452px;
  height: 42px;
  background-color: #a8c3a0;
  color: #ffffff;
  border-radius: 24px;
  border: 1px solid #a8c3a0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.large-button:hover {
  background-color: #9bb993;
  border-color: #9bb993;
}

.small-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 42px;
  background-color: #a8c3a0;
  color: #ffffff;
  border-radius: 24px;
  border: 1px solid #a8c3a0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.small-button:hover {
  background-color: #9bb993;
  border-color: #9bb993;
}

.button-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 6px;
}
